
<h2>Hello {{user.name}}!</h2>

<section id="section-profil">
 <a class="account-btn addrecipe"  href="/recipes/recipe-add"><i
            class="fa fa-plus"
            aria-hidden="true"
          ></i> Ajouter une recette</a>
</div>
 <a class="account-btn editprofil"  href="/auth/editmyaccount/{{user._id}}"><i class="fas fa-user-edit"></i> Modifier mon profil</a>
</div>
</section>

<section id="section-recipe-profil">
<h2 class="sub-title">Vos recettes</h2>
<ul>
    {{#each recipes}}
    <li>
        <h2>{{this.title}}</h2>
        <img class="imgprofil" src="{{this.image}}" alt=cover for the movie {{this.title}}>
        <a href="/recipes/recipe-detail/{{this._id}}">Voir la recette</a>
        <a href="/recipes/recipe-edit/{{this._id}}">Modifier la recette</a>
        <a href="/recipes/recipe-detail/delete/{{this._id}}">Supprimer</a>
    </li>
    {{/each}}
</ul>
</section>