<div>
    <section class="moncompte">
        <h2 class="sub-title">Mon compte</h2>
        <div class="eachrecipe">
            <h3>Mes informations</h3>
            <ul>
                <li>Prénom: {{user.name}}</li>
               <li>email: {{user.name}}</li>
               <li>code postal: {{user.name}}</li>
               <li><a class="account-btn editprofil"  href="/auth/editmyaccount/{{user._id}}"><i class="fas fa-user-edit"></i> Modifier mon profil</a></li>
            </ul>
            </div>
    </section>

    <section class="moncompte">
         <div class="container-mes-recettes">
             <h2 class="sub-title">Mes recettes</h2>
             <a class="account-btn addrecipe"  href="/recipes/recipe-add"><i
            class="fa fa-plus plus-btn"
            aria-hidden="true"
          ></i> Ajouter une recette</a>
         </div>
        <div class="allrecipe">
<ul>
  {{#each recipes}}
  <div class="eachrecipe">
  <li>
    <div class="container-recipe">

    <div >
      <a href="/recipes/recipe-detail/{{this._id}}"><img
          class="imgcat"
          src="{{this.image}}"
          alt="image-recette"
        /></a>
    </div>

    <div class="tab-mini">
      <ul>
        <li class="title-liste"><h2>{{this.title}}</h2></li>
        <li><a href="/recipes/recipe-detail/{{this._id}}">Voir la recette</a></li>
        <li><a href="/recipes/recipe-edit/{{this._id}}">Modifier la recette</a></li>
        <li><a href="/recipes/recipe-detail/delete/{{this._id}}">Supprimer</a></li>
    </ul>
  </div>

  </li>
  </div>
  {{/each}}
</ul>
</div>
    </section>
</div>


