<div class="myaccount-section">
  <section class="myaccount-section">
    <h2 class="sub-title">Mon compte</h2>
    <div class="card-my-account">
      <ul>
        <h3>Mes informations</h3>
        <li>Prénom: {{user.name}}</li>
        <li>email: {{user.email}}</li>
        <li>code postal: {{user.cp}}</li>
        <li>Mot de passe: *********</li>
      </ul>
      <div class="edit-my-account"><a class="btncta" href="/auth/editmyaccount/{{user._id}}"><i
            class="fas fa-user-edit"></i> Modifier mon profil</a>
      </div>
  </section>

  <section class="myaccount-section">
    <div class="titre-recette-plus">
      <h2 class="sub-title">Mes recettes</h2><a class="btncta" href="/recipes/recipe-add"><i
          class="fa fa-plus plus-btn" aria-hidden="true"></i> Ajouter une recette</a>
    </div>
    <div>
      <ul>
        {{#each recipes}}
        <div class="myrecipe-box-shadow">
          <li>
            <div class="card-my-account">

              <div>
                <a href="/recipes/recipe-detail/{{this._id}}"><img class="picture-myrecipe" src="{{this.image}}"
                    alt="image-recette" /></a>
              </div>

              <div>
                <ul>
                  <li>
                    <h3>{{this.title}}</h3>
                  </li>
                  <li><a class="btncta" href="/recipes/recipe-detail/{{this._id}}">Voir la recette</a></li>
                  <li><a class="btncta" href="/recipes/recipe-edit/{{this._id}}">Modifier la recette</a></li>
                  <li><a class="btncta" href="/recipes/recipe-detail/delete/{{this._id}}">Supprimer</a></li>
                </ul>
              </div>
          </li>
        </div>
        {{/each}}
      </ul>
    </div>
  </section>
</div>