<h2>List des recettes/tips</h2>

<ul>
  {{#each recipe}}
  <li>
    <div class="container-recipe">

    <div >
      <a href="/recipes/recipe-detail/{{this._id}}"><img
          class="imgcat"
          src="{{this.image}}"
          alt="image-recette"
        /></a>
    </div>

    <div class="tab-mini">
      <ul>
        <li><h2>{{this.title}}</h2></li>
        <li><i class="far fa-clock"></i> {{this.duration}} minutes</li>
        <li><i class="fas fa-euro-sign"></i> {{this.price}}</li>
        <li><i class="fas fa-sort-amount-up"></i>Difficulté {{this.level}}</li>
        <li><a href="/recipes/recipe-detail/{{this._id}}">Voir la recette</a></li>
    </ul>
  </div>
  </li>
   <hr>
  {{/each}}
</ul>

