<div class="center-title">
<h1 class="form-header">Modifiez votre recette</h1>
</div>

<form action="/recipes/recipe-edit/{{_id}}" method="post" class="recipe-form" enctype="multipart/form-data">
  <div>
    <label class="label-recipe" for="title">Titre</label>
    <br>
    <input
      id="title"
      name="title"
      type="text"
      placeholder="Shampoing solide"
      value="{{title}}"
      class="text-input"
    />
  </div>
  <div>
    <label class="label-recipe" for="type">Type</label>
    <br>
    <select id="type" name="type" class="menu text-input">
      <option value="-1" disabled selected>{{type}}</option>
      <option value="recette">Recette</option>
      <option value="tip">Tip</option>
    </select>
  </div>
  <div>
    <label class="label-recipe" for="category">Catégorie</label>
    <br>
    <select id="category" name="category" class="menu text-input">
      <option value="-1" disabled selected>{{category}}</option>
      <option value="maison">Maison</option>
      <option value="cheveux">Cheveux</option>
      <option value="visage">Visage</option>
      <option value="hygiene">Hygiène</option>
    </select>
  </div>
  <div>
    <label class="label-recipe" for="ingredients">Ingrédients</label>
    <br>
    <textarea
      id="ingredients"
      name="ingredients"
      placeholder="Huile de ricin"
      value="{{ingredients}}"
      cols="30"
      rows="10"
      class="text-input big">
      </textarea>
  </div>
    <div>
    <label class="label-recipe" for="description">Description/ Etapes</label>
    <br>
    <textarea
      id="description"
      name="description"
      placeholder="Mettre dans un saladier"
      value="{{description}}"
      cols="30"
      rows="10"
      class="text-input big">
      </textarea>
  </div>
  <div>
    <label class="label-recipe" for="duration">Duration en minutes</label>
    <br>
    <input
      id="duration"
      name="duration"
      type="number"
      placeholder="ex: 20"
      value="{{duration}}"
      class="text-input"
    />
  </div>
   <div>
    <label class="label-recipe" for="level">Niveau de difficulté</label>
    <br>
    <select id="level" name="level" class="menu text-input">
      <option value="-1" disabled selected>{{level}}</option>
      <option value="facile">Facile</option>
      <option value="modéré">Modéré</option>
      <option value="difficile">Difficile</option>
    </select>
  </div>
     <div>
    <label class="label-recipe" for="price">Coût</label>
    <br>
    <select id="price" name="price" class="menu text-input">
      <option value="-1" disabled selected>{{price}}</option>
      <option value="bon marché">Bon marché</option>
      <option value="modéré">Modéré</option>
      <option value="coûteux">Coûteux</option>
    </select>
  </div>
  <div>
<label class="label-recipe" for="image">Téléchargez une photo<br>
    <i class="fas fa-camera-retro"></i>
    <br>
    <input 
    type="file" 
    id="image" 
    name="image" 
    accept="image/png, image/jpeg"/>
  </div>
  <button class="form-button"><i class="fas fa-edit"></i></button>
</form>
