<h2>Recipe Detail</h2>

{{recipe.title}}
<hr>
{{recipe.category}}
<hr>
{{recipe.type}}
<hr>
{{recipe.ingredients}}
<hr>
{{recipe.description}}
<hr>
{{recipe.duration}}
<hr>
{{recipe.level}}
<hr>
{{recipe.price}}
<hr>
<img src="{{recipe.image}}" alt=cover for the movie {{recipe.title}}>
 